## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Airai,TL,-8.9266,125.4092,60.73,100,100,2.62,overcast clouds
1,1,Sunndalsora,NO,62.6754,8.5515,23.00,54,0,5.75,clear sky
2,2,Carnarvon,AU,-24.8667,113.6333,75.20,100,40,10.36,scattered clouds
3,3,Haines Junction,CA,60.7522,-137.5108,-16.60,52,16,1.14,few clouds
4,4,Albany,US,42.6001,-73.9662,30.99,72,100,3.36,light snow

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Carnarvon,AU,-24.8667,113.6333,75.20,100,40,10.36,scattered clouds
7,7,La Romana,DO,18.4273,-68.9728,82.40,65,40,9.22,scattered clouds
11,11,Rikitea,PF,-23.1203,-134.9692,77.65,72,96,11.97,overcast clouds
13,13,Bambous Virieux,MU,-20.3428,57.7575,80.60,78,40,10.36,scattered clouds
15,15,Butaritari,KI,3.0707,172.7902,81.28,80,96,19.91,overcast clouds
19,19,Saint-Philippe,RE,-21.3585,55.7679,80.60,74,0,4.61,light rain
21,21,San Rafael,AR,-34.6177,-68.3301,76.82,41,0,26.87,clear sky
22,22,Puerto Ayora,EC,-0.7393,-90.3518,82.40,74,75,12.66,light rain
24,24,Tucuma,BR,-0.1833,-50.0500,78.31,89,94,7.16,overcast clouds
32,32,Alofi,NU,-19.0595,-169.9187,84.20,74,40,12.66,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
#Check for null values
preferred_cities_df.count()

City_ID                216
City                   216
Country                216
Lat                    216
Lng                    216
Max Temp               216
Humidity               216
Cloudiness             216
Wind Speed             216
Current Description    216
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Carnarvon,AU,-24.8667,113.6333,75.20,100,40,10.36,scattered clouds
7,7,La Romana,DO,18.4273,-68.9728,82.40,65,40,9.22,scattered clouds
11,11,Rikitea,PF,-23.1203,-134.9692,77.65,72,96,11.97,overcast clouds
13,13,Bambous Virieux,MU,-20.3428,57.7575,80.60,78,40,10.36,scattered clouds
15,15,Butaritari,KI,3.0707,172.7902,81.28,80,96,19.91,overcast clouds
19,19,Saint-Philippe,RE,-21.3585,55.7679,80.60,74,0,4.61,light rain
21,21,San Rafael,AR,-34.6177,-68.3301,76.82,41,0,26.87,clear sky
22,22,Puerto Ayora,EC,-0.7393,-90.3518,82.40,74,75,12.66,light rain
24,24,Tucuma,BR,-0.1833,-50.0500,78.31,89,94,7.16,overcast clouds
32,32,Alofi,NU,-19.0595,-169.9187,84.20,74,40,12.66,scattered clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Carnarvon,AU,75.20,scattered clouds,-24.8667,113.6333,
7,La Romana,DO,82.40,scattered clouds,18.4273,-68.9728,
11,Rikitea,PF,77.65,overcast clouds,-23.1203,-134.9692,
13,Bambous Virieux,MU,80.60,scattered clouds,-20.3428,57.7575,
15,Butaritari,KI,81.28,overcast clouds,3.0707,172.7902,
19,Saint-Philippe,RE,80.60,light rain,-21.3585,55.7679,
21,San Rafael,AR,76.82,clear sky,-34.6177,-68.3301,
22,Puerto Ayora,EC,82.40,light rain,-0.7393,-90.3518,
24,Tucuma,BR,78.31,overcast clouds,-0.1833,-50.0500,
32,Alofi,NU,84.20,scattered clouds,-19.0595,-169.9187,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]   
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Carnarvon,AU,75.20,scattered clouds,-24.8667,113.6333,Hospitality Carnarvon
7,La Romana,DO,82.40,scattered clouds,18.4273,-68.9728,Casa de Campo Resort and Villas
11,Rikitea,PF,77.65,overcast clouds,-23.1203,-134.9692,Pension Maro'i
13,Bambous Virieux,MU,80.60,scattered clouds,-20.3428,57.7575,Casa Tia Villa
15,Butaritari,KI,81.28,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
19,Saint-Philippe,RE,80.60,light rain,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
21,San Rafael,AR,76.82,clear sky,-34.6177,-68.3301,Hotel San Rafael
22,Puerto Ayora,EC,82.40,light rain,-0.7393,-90.3518,Castillo Galapagos
24,Tucuma,BR,78.31,overcast clouds,-0.1833,-50.0500,
32,Alofi,NU,84.20,scattered clouds,-19.0595,-169.9187,Taloa Heights

In [9]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Carnarvon,AU,75.20,scattered clouds,-24.8667,113.6333,Hospitality Carnarvon
7,La Romana,DO,82.40,scattered clouds,18.4273,-68.9728,Casa de Campo Resort and Villas
11,Rikitea,PF,77.65,overcast clouds,-23.1203,-134.9692,Pension Maro'i
13,Bambous Virieux,MU,80.60,scattered clouds,-20.3428,57.7575,Casa Tia Villa
15,Butaritari,KI,81.28,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
19,Saint-Philippe,RE,80.60,light rain,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
21,San Rafael,AR,76.82,clear sky,-34.6177,-68.3301,Hotel San Rafael
22,Puerto Ayora,EC,82.40,light rain,-0.7393,-90.3518,Castillo Galapagos
32,Alofi,NU,84.20,scattered clouds,-19.0595,-169.9187,Taloa Heights
34,Hilo,US,78.80,clear sky,19.7297,-155.0900,Hilo Hawaiian Hotel

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [18]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>and<dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [19]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))